<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>58logo_C</string>
		<key>site</key>
		<string>58.com</string>
		<key>site_cn</key>
		<string>58同城</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>12306_C</string>
		<key>site</key>
		<string>12306</string>
		<key>site_cn</key>
		<string>铁路12306</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ABC_C</string>
		<key>site</key>
		<string>ABC</string>
		<key>site_cn</key>
		<string>农业银行</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>alipay_C</string>
		<key>site</key>
		<string>AliPay</string>
		<key>site_cn</key>
		<string>支付宝</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>amazon_C</string>
		<key>site</key>
		<string>Amazon</string>
		<key>site_cn</key>
		<string>亚马逊</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>apple_C</string>
		<key>site</key>
		<string>Apple</string>
		<key>site_cn</key>
		<string>苹果</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>baidu_C</string>
		<key>site</key>
		<string>Baidu</string>
		<key>site_cn</key>
		<string>百度</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>BankofChina_C</string>
		<key>site</key>
		<string>BankOfChina</string>
		<key>site_cn</key>
		<string>中国银行</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>bitcoin_C</string>
		<key>site</key>
		<string>BitCoin</string>
		<key>site_cn</key>
		<string>比特币</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>BOB_C</string>
		<key>site</key>
		<string>BankOfBeijing</string>
		<key>site_cn</key>
		<string>北京银行</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>BOC_C</string>
		<key>site</key>
		<string>BankOfCommunications</string>
		<key>site_cn</key>
		<string>交通银行</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>BOS</string>
		<key>site</key>
		<string>BankOfShanghai</string>
		<key>site_cn</key>
		<string>上海银行</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>CCB</string>
		<key>site</key>
		<string>ChinaConstructionBank</string>
		<key>site_cn</key>
		<string>建设银行</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>CEB</string>
		<key>site</key>
		<string>ChinaEverbrightBank</string>
		<key>site_cn</key>
		<string>光大银行</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>CGB</string>
		<key>site</key>
		<string>GuangfaBank</string>
		<key>site_cn</key>
		<string>广发银行</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cmb_C</string>
		<key>site</key>
		<string>CMB</string>
		<key>site_cn</key>
		<string>招商银行</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>dianpin_C</string>
		<key>site</key>
		<string>DianPin</string>
		<key>site_cn</key>
		<string>大众点评</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>douban_C</string>
		<key>site</key>
		<string>DouBan</string>
		<key>site_cn</key>
		<string>豆瓣</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>dribbble_C</string>
		<key>site</key>
		<string>Dribbble</string>
		<key>site_cn</key>
		<string>Dribbble</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>dropbox_C</string>
		<key>site</key>
		<string>DropBox</string>
		<key>site_cn</key>
		<string>DropBox</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>eleme_C</string>
		<key>site</key>
		<string>ele.me</string>
		<key>site_cn</key>
		<string>饿了么</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>email_C</string>
		<key>site</key>
		<string>E-Mail</string>
		<key>site_cn</key>
		<string>电子邮箱</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>evernote_C</string>
		<key>site</key>
		<string>EverNote</string>
		<key>site_cn</key>
		<string>印象笔记</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>facebook_C</string>
		<key>site</key>
		<string>Facebook</string>
		<key>site_cn</key>
		<string>Facebook</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>github_C</string>
		<key>site</key>
		<string>GitHub</string>
		<key>site_cn</key>
		<string>GitHub</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>googleplus_C</string>
		<key>site</key>
		<string>Google+</string>
		<key>site_cn</key>
		<string>谷歌+</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>HXB_C</string>
		<key>site</key>
		<string>HuaxiaBank</string>
		<key>site_cn</key>
		<string>华夏银行</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icbc_C</string>
		<key>site</key>
		<string>ICBC</string>
		<key>site_cn</key>
		<string>工商银行</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>instagram_C</string>
		<key>site</key>
		<string>Instagram</string>
		<key>site_cn</key>
		<string>Instagram</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>instapaper_C</string>
		<key>site</key>
		<string>Instapaper</string>
		<key>site_cn</key>
		<string>Instaparer</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>iqiyi_C</string>
		<key>site</key>
		<string>iqiyi.com</string>
		<key>site_cn</key>
		<string>爱奇艺</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>jd_C</string>
		<key>site</key>
		<string>JD.com</string>
		<key>site_cn</key>
		<string>京东</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>jianshu_C</string>
		<key>site</key>
		<string>JianShu</string>
		<key>site_cn</key>
		<string>简书</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>jisibar_C</string>
		<key>site</key>
		<string>jisibar.com</string>
		<key>site_cn</key>
		<string>集思吧</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>line_C</string>
		<key>site</key>
		<string>Line</string>
		<key>site_cn</key>
		<string>Line</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>linkedin_C</string>
		<key>site</key>
		<string>LinkedIn</string>
		<key>site_cn</key>
		<string>领英</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>mangguotv_C</string>
		<key>site</key>
		<string>ManguoTV</string>
		<key>site_cn</key>
		<string>芒果TV</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>microsoft_C</string>
		<key>site</key>
		<string>Microsoft</string>
		<key>site_cn</key>
		<string>微软</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>mi_C</string>
		<key>site</key>
		<string>XiaoMi</string>
		<key>site_cn</key>
		<string>小米</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>MSB_C</string>
		<key>site</key>
		<string>MingshengBank</string>
		<key>site_cn</key>
		<string>民生银行</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>netease_C</string>
		<key>site</key>
		<string>NetEase</string>
		<key>site_cn</key>
		<string>网易</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>path_C</string>
		<key>site</key>
		<string>Path</string>
		<key>site_cn</key>
		<string>Path</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>pinterest_C</string>
		<key>site</key>
		<string>Pinterest</string>
		<key>site_cn</key>
		<string>Pinterest</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>pocket_C</string>
		<key>site</key>
		<string>Pocket</string>
		<key>site_cn</key>
		<string>Pocket</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>PSBC_C</string>
		<key>site</key>
		<string>PostServingBank</string>
		<key>site_cn</key>
		<string>邮政储蓄</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>qq_C</string>
		<key>site</key>
		<string>QQ.com</string>
		<key>site_cn</key>
		<string>腾讯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>quora_C</string>
		<key>site</key>
		<string>Quora</string>
		<key>site_cn</key>
		<string>Quora</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>qzone_C</string>
		<key>site</key>
		<string>Qzone.com</string>
		<key>site_cn</key>
		<string>QQ空间</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>readability_C</string>
		<key>site</key>
		<string>Readability</string>
		<key>site_cn</key>
		<string>Readability</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>reddit_C</string>
		<key>site</key>
		<string>Reddit</string>
		<key>site_cn</key>
		<string>Reddit</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>renren_C</string>
		<key>site</key>
		<string>RenRen</string>
		<key>site_cn</key>
		<string>人人</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>sina_weibo_C</string>
		<key>site</key>
		<string>Weibo.com</string>
		<key>site_cn</key>
		<string>新浪微博</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>skype_C</string>
		<key>site</key>
		<string>Skype</string>
		<key>site_cn</key>
		<string>Skype</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>snapchat_C</string>
		<key>site</key>
		<string>SnapChat</string>
		<key>site_cn</key>
		<string>SnapChat</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>SPDB_C</string>
		<key>site</key>
		<string>SPD_Bank</string>
		<key>site_cn</key>
		<string>浦发银行</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>taobao_C</string>
		<key>site</key>
		<string>TaoBao.com</string>
		<key>site_cn</key>
		<string>淘宝</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>tencent_weibo_C</string>
		<key>site</key>
		<string>t.qq.com</string>
		<key>site_cn</key>
		<string>腾讯微博</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>tumblr_C</string>
		<key>site</key>
		<string>Tumblr</string>
		<key>site_cn</key>
		<string>Tumblr</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>twitter_C</string>
		<key>site</key>
		<string>Twitter</string>
		<key>site_cn</key>
		<string>推特</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>vimeo_C</string>
		<key>site</key>
		<string>Vimeo</string>
		<key>site_cn</key>
		<string>Vimeo</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>vine_C</string>
		<key>site</key>
		<string>Vine</string>
		<key>site_cn</key>
		<string>Vine</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>wechat_C</string>
		<key>site</key>
		<string>WeChat</string>
		<key>site_cn</key>
		<string>微信</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>wechat_moment_C</string>
		<key>site</key>
		<string>WeChatMoment</string>
		<key>site_cn</key>
		<string>朋友圈</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>whatsapp_C</string>
		<key>site</key>
		<string>WhatsApp</string>
		<key>site_cn</key>
		<string>WhatsApp</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>wordpress_C</string>
		<key>site</key>
		<string>Wordpress</string>
		<key>site_cn</key>
		<string>WordPress</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>xiami_C</string>
		<key>site</key>
		<string>XiaMi</string>
		<key>site_cn</key>
		<string>虾米</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>youdao_note_C</string>
		<key>site</key>
		<string>YoudaoNote</string>
		<key>site_cn</key>
		<string>有道云笔记</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>yahoo_C</string>
		<key>site</key>
		<string>Yahoo!</string>
		<key>site_cn</key>
		<string>雅虎</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>youku_C</string>
		<key>site</key>
		<string>YouKu</string>
		<key>site_cn</key>
		<string>优酷</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>zhihu_C</string>
		<key>site</key>
		<string>ZhiHu</string>
		<key>site_cn</key>
		<string>知乎</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>default_C</string>
		<key>site</key>
		<string>Other</string>
		<key>site_cn</key>
		<string>其他</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ZSB_C</string>
		<key>site</key>
		<string>ZheShangBank</string>
		<key>site_cn</key>
		<string>浙商银行</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ZXB_C</string>
		<key>site</key>
		<string>ZhongXinBank</string>
		<key>site_cn</key>
		<string>中信银行</string>
	</dict>
</array>
</plist>
